@model IEnumerable<DBfirst_2106.Models.Student1>

@{
    ViewData["Title"] = "SameHomeandDeptSearch";
}

<h3>Students from Same Home Town within Same Department</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SHomecity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDept)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SHomecity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDept)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>